.color-card {
  margin: 0px 10px;
  padding: 5px;
}

.color-card-headline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}

.color-card-confirmation {
  display: inline;
  padding: 2px 6px;
  background: rgb(113, 110, 110);
  color: white;
}
